.navbar {
    margin-right: 68px;
    opacity: 1;
}

.links.home {
    display: flex;
    gap: 24px;
    justify-content: center !important;
}

.btn-primary {
    height: 39px;
    width: 156px;
}

.btn-app {
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    border-style: none;
    padding: 0;
    width: 156px;
    height: 39px;
    border-radius: 2px;
    font-size: 16px;
    color: #d4b5ff;
    font-weight: 600;
    background: #6D1EDA;
}

.stake-content {
    height: 85% !important;
}

.range-header {
    margin: 10px 100px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid gray;
}

.range-slider {
    border: 2px solid gray;
    border-radius: 15px;
}
.range-slider input {
    width: 250px;
}

.slider {
    border-radius: 10px;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6d1eda;
    background: transparent;
    cursor: pointer;
}

.range-output {
  border: 2px solid gray;
  border-radius: 16px; 
  width: 50px;
}

.bg-ruler {
    background-color: transparent;
    background-image: 
      linear-gradient(90deg, 
        transparent 0, 
        gray 2%, 
        transparent 2%
      ), 
      linear-gradient(180deg, 
        #292929 50%, 
        transparent 50%
      ), 
      linear-gradient(90deg, 
        transparent 50%, 
        gray 50%, 
        gray 52%, 
        transparent 52%
      ), 
      linear-gradient(180deg, 
        #292929 70%, 
        transparent 70%
      ), 
      linear-gradient(90deg, 
        transparent 10%,
        gray 10%, 
        gray 12%, 
        transparent 12%, 
        
        transparent 20%,
        gray 20%, 
        gray 22%, 
        transparent 22%, 
        
        transparent 30%, 
        gray 30%,
        gray 32%, 
        transparent 32%, 
        
        transparent 40%, 
        gray 40%, 
        gray 42%, 
        transparent 42%, 
        
        transparent 60%, 
        gray 60%, 
        gray 62%, 
        transparent 62%, 
        
        transparent 70%, 
        gray 70%, 
        gray 72%, 
        transparent 72%, 
        
        transparent 80%, 
        gray 80%, 
        gray 82%, 
        transparent 82%, 
        
        transparent 90%, 
        gray 90%, 
        gray 92%, 
        transparent 92%
      );
    background-size: 50px 20px;
    background-repeat: repeat-x;
    min-height: 20px;
    
    /* only needed for labels */
    white-space:nowrap;
    font-size:0;
    margin:0;
    padding:0;
  }
